# Dependencias
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# BD
*.db
*.sqlite

# Archivos temporales
.DS_Store
*.tmp
*.log
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# OS
Thumbs.db
.DS_Store

# Archivos grandes
*.pdf
!data/exams/*.pdf
